.DS_Store
/node_modules/
/src/node_modules/@sapper/
yarn-error.log
/cypress/screenshots/
/__sapper__/
/static/main.css
cypress.json
cypress/fixtures/example.json
cypress/integration/spec.js
cypress/plugins/index.js
cypress/support/commands.js
cypress/support/index.js
LICENSE
package-lock.json
package.json
postcss.config.js
src/client.js
src/components/AppHeader.svelte
src/components/Card.svelte
src/components/Cards.svelte
src/components/Footer.svelte
src/components/NavLink.svelte
src/components/Page.svelte
src/components/SkillGraph.svelte
src/components/Theme.svelte
src/routes/_error.svelte
src/routes/_layout.svelte
src/routes/about.svelte
src/routes/blog/[slug].json.js
src/routes/blog/[slug].svelte
src/routes/carrer.svelte
src/routes/contact.svelte
src/routes/index.svelte
src/routes/projects.svelte
src/routes/skills.svelte
src/routes/watch.svelte
src/server.js
src/service-worker.js
src/template.html
static/azure.svg
static/carrer/presentation.pdf
static/carrer/report.svg
static/css.svg
static/cv.pdf
static/english_cv.pdf
static/favicon.png
static/fr_flag.svg
static/git.svg
static/github.svg
static/global.css
static/html.svg
static/java.svg
static/linkedin.svg
static/linux.svg
static/logo-192.png
static/logo-512.png
static/mail.svg
static/manifest.json
static/mysql.svg
static/office.svg
static/photoshop.svg
static/php.svg
static/projects/ppe1.png
static/projects/ppe2.png
static/tailwind.css
static/uk_flag.svg
static/watch/car.svg
static/watch/lawyer.svg
static/watch/news.svg
static/watch/veille-juridique.pdf
static/watch/veille-techno.pdf
tailwind.config.js
webpack.config.js
